<div id='collect_list'>
	<div class="row">
		<div class="medium-6 columns">
			<h3>Movie List</h3>
		</div> 
		<div class="medium-6 columns">
			<h3>Release Date</h3>
		</div>
	</div>
		<% @movies.each do |m| %>
			<div class="row m-font">
				<div class="medium-6 columns"><%= m.title  %></div>
				<div class="medium-6 columns"><%= m.release_date %></div>
			</div>
		<% end %>
</div>