body {
	width: 100%;
	height: 100%;
	background-image: url('linedpaper.png');
}

h2{
	font-family: 'Changa One', cursive;
	font-size: 3em
}

h3{
	font-family: 'Changa One', cursive;
}

.logo img {
	max-width: 80%;
	height: 8em;
}

.main {
	margin-bottom: 3em;
}

.m-font {
	font-family: 'Gloria Hallelujah', cursive;
}

.button {
	background: #B40404;
}

.button-group{
}

ul li{
	list-style-type: none;
}

.foot {
	font-size: 2em;
}

.tomato-cut {
	position: absolute;
	bottom: 0%;
	right: 0%;
	opacity: .5;
}

.tomato-cut {
	background: url(tomato_cut.png);
	height: 60%;
	width: 60%;
}
